// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body {
    font-family: Georgia, serif;
    color: rgba(0, 0, 0, .4);
    background: #bada55;
}

a {
    color: rgba(255, 255, 255, .7);
    &:hover { color: rgba(255, 255, 255, .9); }

    // http://css-tricks.com/links-inline-svg-staying-target-events/
    > svg { pointer-events: none; }
}

h1 {
    padding: 12px 30px 10px;
    background: rgba(0, 0, 0, .2);
}

svg {
    width: 100px;
    margin-left: 50px;
    fill: rgba(0, 0, 0, .3);
}
